body {
    color: #333333 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
}

/*COLORES*/
.bg-darkness {
    background-color: #333333;
}


/*TIPOGRAFIAS*/
.text-JetBrains-bold {
    font-family: 'JetBrains Mono', monospace !important;
}
.text-md {
    font-size: 1.2rem;
}
/* IMAGENES */
.bg-img {
    background-size:cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: top;
    height: 90vh;
} 
.bg-img-init {
    background-image: url('../imgs/img_banner_taxibip_01.jpg');
    width: 100%;
}
.bg-img-medium {
    background-image: url('../imgs/taxibip_03.jpg');
    width: 100%;
}

/* CAJAS DE TEXTO */
.box-title {
    width: 30rem;
}

.img-right {
    text-align: right;
}


@media (max-width:900px) {
    .bg-img-init {
        background-image: url('../imgs/taxibip_mobile.jpg');
        
    }
    .box-blue-primary {
        width: 18rem;
    }
    .box-title {
        width: 12rem;
    }
    .text-paragraph {
        display: none;
    }
    .text-link {
        text-align: center;
    }
    .link-social {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .img-center {
        text-align: center;
    }
    .img-center img {
        padding-bottom: 1rem;
        width: 150px;
    }

}
